[Desktop Entry]
Encoding=UTF-8
Name=Link to Find potential clients by showcasing the services you provide. Get started
Type=Link
URL=https://www.linkedin.com/in/mojtaba-ahangar-0bb326102/opportunities/services/education
Icon=text-html
